---
- name: Ensure packages database is up to date
  sudo: yes
  apt: update_cache=yes

- name: Install Apache
  sudo: yes
  apt: pkg=apache2 state=latest
  notify: restart apache

- name: Install Apache Modules
  apache2_module: state=present name={{ item }}
  with_items:
    - rewrite

- name: Get installed version of Apache.
  shell: apache2 -v
  changed_when: false
  register: apache_version

- name: Change default apache2.4 site
  sudo: yes
  template: src=vhost24.conf.tpl dest=/etc/apache2/sites-available/000-default.conf
  notify: restart apache
  when: apache_version.stdout.find('Apache/2.4.') != -1

- name: Change default apache2.2 site
  sudo: yes
  template: src=vhost22.conf.tpl dest=/etc/apache2/sites-available/default
  notify: restart apache
  when: apache_version.stdout.find('Apache/2.2.') != -1

- name: Disable Apache ServerSignature
  lineinfile:
    dest: "/etc/apache2/apache2.conf"
    regexp: '^ServerSignature'
    line: "ServerSignature Off"
  notify: restart apache

- name: Disable Apache ServerTokens
  lineinfile:
    dest: "/etc/apache2/apache2.conf"
    regexp: '^ServerTokens'
    line: "ServerTokens Prod"
  notify: restart apache
